.even-item {
  background-color: pink; /* Background color for even items */
}

.odd-item {
  background-color: teal; /* Background color for odd items */
}

.content-list-item {
  border: 2px solid black;
}
